.title2{
	background: #2dcc70;
	color: #fff;
	padding: 5px 10px 5px 5px;
}
.locationLabel{
	color: #2dcc70;
}
.pinSize{
	height:50px;
	width:50px;
}
textarea{
	padding-top: 10px;
}
h1 a:hover , h2 a:hover , h3 a:hover ,
h4 a:hover , h5 a:hover , h6 a:hover {
	color: #0088cc;
}
.customize-form{
	border: 0;
	background-color: #fff;
	border-top: 1px solid #f0f0f0;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
	padding: 20px;
	display: inline-block;
}

/*create insight*/
 #locationData{
    width:50%;
}
#createInsight .overall{
    font-size:20px;
}
#createInsight .reviews{
    font-size:15px;
}
#postDescription{
    padding:10px;
}
#createInsight .mapSize{
	height:350px;
	border:1px solid lightgrey;
}
/*create insight end*/

/*index insight*/
#indexInsight p{
	font-size:18px;
}
/*index insight end*/